:root {
    --base: 14px;
    --heading: calc(var(--base) *5);
    --type-color: #585442;
    font-family: 'Gothic A1', sans-serif;
    font-size: var(--base);
}

@media (min-width: 600px) {
    :root {
        --base: 16px;
    }
}

body {
    text-align: left;
}

h1 {
    font-size: var(--heading);
    color: black;
    text-align: left;
    padding: 0.5em;
}


nav {
    font-size: calc(var(--base) *1.5);
padding:0;
margin: 0;
}
