:root {
    --base: 14px;
    --heading: calc(var(--base) *1.5);
    --type-color: #585442;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: var(--base);
}

@media (min-width: 600px) {
    :root {
        --base: 16px;
    }

    aside {
        float: left;
        margin:0;
        border-right: solid #585442 1px;
        margin-right: 3em;      

    }

   .left-sticky {
        position: sticky;
        top:85px;
    }

}

body {
    text-align: left;
}

h1 {
    font-size: calc(var(--heading) *3);
    color: #F3ECE2;
    margin: 0;
    padding:0;
    letter-spacing: -1.5;
    padding-bottom:0.5em;
    max-width: 1000px;

}



h3 {
    font-size: calc(var(--base) *1.5);
    max-width: 650px;
    padding-bottom:0.5em;
}


header {
    background-color: #4F58AA;
    color: #F3ECE2;
    padding: 2em;
    border-bottom: solid #585442 1px;
}


#title {
    font-size: var(--heading);
    text-align: right;
}



section {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-areas: "aside .essay";
}

.essay {
padding: 3em;
max-width: 800px;
}

.essay > p {
    margin-bottom: 1.8em;
    font-size: calc(var(--base) *1.2);
    line-height: 1.5em;
    letter-spacing: 0.4px;
}


nav {
    position: sticky;
  top: 0;
  background-color:#EAEBEA;
}