:root {
    --base: 14px;
    --heading: calc(var(--base) * 1.5);
    --type-color: #585442;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: var(--base);
}

@media (min-width: 599px) {
    :root {
        --base: 16px;
    }

    aside {

        border-top: 0px;
    }



    h2 {
            padding: 0.6em;
    }
    
    img {
        height: 52px;    

    }

}


body {
    padding: var(--base);
    background-color: #EAEBEA;
    padding: 0;
    text-align: center;
    display: grid;

}

h1 {
    font-size: var(--heading);
    color: #585442;
    text-align: left;
    padding: 0.5em;
}

p {
    color: var(--type-color);
}

hr { 
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-width: 1px;
  } 

ul {
    font-size: var(--heading);
    color:#585442;

}

.intro {
    background-color: #FBFFE0;
    padding: 2em;

}

.intro > p {
    max-width: 620px;
    text-align: center;
   margin: auto;
   letter-spacing: -0.2px;
   line-height: 120%;

}

h2 {
    font-size: calc(var(--base) * 3);
}

li:nth-child(1):hover {
    background-color: #4F58AA;
    color: #F3ECE2;
}

li:nth-child(2):hover {
    background-color: #726D59;
    color: #F2F0EA;
}


li:nth-child(3):hover {
    background-color: #ADAF41;
    color: #F3ECE2;
}

footer {
    background: white;
    text-align: center;
    padding: 2em;
}

footer > p {
    font-size:13px;

    max-width: 680px;
    text-align: center;
   margin: auto;
   letter-spacing: -0.2px;

}

aside {
    background: white;
    text-align: left;
    padding: 2em;
}

nav {
    border-bottom: solid #585442 1px;
}

main {
    border-bottom: solid #585442 1px;
}


li {
    border-bottom: solid #585442 1px;

}


#title {
    font-size: var(--heading);
    padding: 0.5em;
    text-align: right;
}


img {
    padding-right: 0.5em;    
   

}

.icons {
    float: left;
    margin-left: 0.5em;
    height: 40px;

}

.icons > a:nth-child(1) {
    opacity: 0.8;
}

.icons > a:nth-child(1):hover {
    opacity: 1;
}

.icons > a:nth-child(2) {
    opacity: 0.8;
}

.icons > a:nth-child(2):hover {
    opacity: 1;
}

.icons > a:nth-child(3) {
    opacity: 0.8;
}

.icons > a:nth-child(3):hover {
    opacity: 1;
}


@media (max-width: 599px) {
    aside {
        border-top: solid #585442 1px;
    }
    h2 {
        padding: 0.5em;
}
    img {
        height: 47.5px; 
    }
}



