:root {
    --base: 14px;
    --heading: calc(var(--base) * 1.5);
    --type-color: #585442;
    font-family: 'Gothic A1', sans-serif;
    font-size: var(--base);
}

@media (min-width: 600px) {
    :root {
        --base: 16px;
    }

}

body {
    padding: var(--base);
    background-color: #EAEBEA;
    padding: 0;
    text-align: center;
    position: relative;

}

h1 {
    font-size: var(--heading);
    color: black;
    text-align: left;
    padding: 0.5em;
}

p {
    color: var(--type-color);
}



hr { 
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-width: 1px;
  } 

ul {
    font-size: var(--heading);

}

.intro {
    background-color: #FBFFE0;
    padding: 2em;
    text-align: left;


}

footer {
    background-color: #F5F5F5;
    padding-top: 1em;
    padding-bottom: 1em;
    margin:0;
}

h2 {
    font-size: calc(var(--base) * 2.5);
    padding: 0.5em;
}

li:nth-child(1):hover {
    background-color: #94877E;
    color: #F3ECE2;
}

li:nth-child(2):hover {
    background-color: #548AEA;
    color: #F2F0EA;
}


li:nth-child(3):hover {
    background-color: #D48D77;
    color: white;
}

aside {
    background: white;
    text-align: left;
    border-left: solid #585442 1px;
    padding: 2em;



}


main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: ".intro  aside"

}
